body {
    background: black ;
    background: linear-gradient(#7e7e7e, black 2%, black 98%, #7e7e7e 100%) repeat no-repeat;
    background-size: 100%;
    background-attachment: fixed;

}

hr {
    color: #444;
}
.quote {
    color: white;
    text-align: center;
    //background-image: radial-gradient(ellipse closest-side, #444, transparent 60%);
    padding-top: 3%;
    font-size: 130%;

}



.quote-left {
    text-align: center;
}

.fill-height{
    height: 100vh;
}

.author, .social {
    font-size: 115%;
    text-align: center;
    font-weight: bold;
}

.quote-footer {
    padding-bottom: 15px;
}

.top-level {
    padding-top: 5%;
}

a {
    background: #111;
}